/* 5 column grid */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths,
.col-xs-2-5ths,
.col-sm-2-5ths,
.col-md-2-5ths,
.col-lg-2-5ths,
.col-xs-3-5ths,
.col-sm-3-5ths,
.col-md-3-5ths,
.col-lg-3-5ths,
.col-xs-4-5ths,
.col-sm-4-5ths,
.col-md-4-5ths,
.col-lg-4-5ths  {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
.col-xs-2-5ths {
    width: 40%;
    float: left;
}
.col-xs-3-5ths {
    width: 60%;
    float: left;
}
.col-xs-4-5ths {
    width: 80%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .col-sm-2-5ths {
        width: 40%;
        float: left;
    }
    .col-sm-3-5ths {
        width: 60%;
        float: left;
    }
    .col-sm-4-5ths {
        width: 80%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
    .col-md-2-5ths {
        width: 40%;
        float: left;
    }
    .col-md-3-5ths {
        width: 60%;
        float: left;
    }
    .col-md-4-5ths {
        width: 80%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
    .col-lg-2-5ths {
        width: 40%;
        float: left;
    }
    .col-lg-3-5ths {
        width: 60%;
        float: left;
    }
    .col-lg-4-5ths {
        width: 80%;
        float: left;
    }
}

